<mat-card>
    <mat-card-content>
        <form [formGroup]="loginForm">     
            <h2>Log In</h2>                      
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder" formControlName="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>
                    Please provide a valid email address
                </mat-error>
            </mat-form-field>      
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="Placeholder" formControlName="password">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error>
                    Please provide a valid password
                </mat-error>
            </mat-form-field>      
            <button mat-raised-button color="primary" style="margin: 20px;" [disabled]="loginForm.invalid" (click)="login()">Login</button>
        </form>
        <div style="display: flex; justify-content: space-between;">
            <a class="small" routerLink="/signup">Forgot password?</a>
            <small>New User? <a routerLink="/signup">Sign Up</a></small>
          </div>
    </mat-card-content>
</mat-card>